.header {
    height: 200px;
    background-image: url(../images/computerExamScoresManagementSystemHead.png);
    width: 1366px;
}


.footer {
    margin-left: 200px;
    height: 200px;
    width: 800px;
    background-image: url(../images/computerExamScoresManagementSystemFoot.png);
}
