<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="book" class="com.Book.Book"/>
    <bean id="myBook" class="com.Book.myBook" />
    <!-- 配置aop -->
    <aop:config>
        <!--配置切入点 -->
        <aop:pointcut expression="execution(* com.Book.Book.add())" id="pointcut"/>
        <!-- 配置 切面-->
        <aop:aspect ref="myBook">
           <!-- <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>-->
            <aop:around method="around" pointcut-ref="pointcut" />
        </aop:aspect>

    </aop:config>


</beans>