* {
    margin: 0;
    padding: 0;
}
a {
    color:  skyblue;
    text-decoration: none;
}

a:hover {
    color: red;
}
td {
    border: solid  red;

}
th {
    border: solid  red;
}
table {

    width: 500px;
    height: 300px;
    border-collapse: collapse;
}

.header {
    height: 150px;
    background-color: orange;
}
.middle {
    margin: 20px 380px;
    width: 300px;
    height:400px;

}
.footer {
    height: 120px;
    background-color: purple;
}