<component name="ArtifactManager">
  <artifact type="war" name="MybatisSpringTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MybatisSpringTest.war">
      <element id="artifact" artifact-name="MybatisSpringTest:war exploded" />
    </root>
  </artifact>
</component>